@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary col-12">Nuevo&nbsp;<i class="fa-solid fa-square-plus"></i></button>
    </div>
    
</div>
<div class="row mt-2">
    <div class="table-responsive">
        <table class="table table-bordered border-secondary">
            <thead class="table-dark">
                <tr>
                    <th width="120px">Actions</th>
                    <th>ID</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-eraser"></i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-eraser"></i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-eraser"></i></button>
                        <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                    </td>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>xxxx</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
